* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.pageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PageWrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bannarImgCon {
    width: 100%;
    height: 350px;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.banneraimgwrapper{
    width: 90%;
    height: 250px;
    display:flex;
    justify-content: center;
}
.banneraimgwrapper img{
    border-radius: 10px;
}

@media(max-width:768px){
 .banneraimgwrapper{
     width: 100%;
 }   
 .bannarImgCon img{
     border: none;
 }
}
.bannarImgCon img {
    width: 100%;

}
.headerContent {
    text-align: left;

}
.headerContent h2 {
    font-size: 35px;
    color: black;
    font-family: 'Outfit', sans-serif;
}

.headerContent p {
    font-size: 16px;
    font-family: 'Young Serif', sans-serif;
    padding-top: 10px;

}
.preparationContainer {
    display: block;
    background-color: hsl(330, 100%, 98%);
    padding: 30px;
    margin-top: 45px;
}
.preparationContainer .label {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-family: 'Young Serif', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

ul ,ol {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}

.preparationContainer ul .title {
    font-size: 19px;
    color: hsl(25, 5%,18%);
    font-family: 'Young Serif', sans-serif;
    font-weight: 700;
}

.IngredientConainer {
    display: block;
    padding: 30px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.IngredientConainer .label {
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    font-weight: 800;
    padding-bottom: 20px;
}

.InstructionContainer {
    display: block;
    padding: 30px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.Label {
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    font-weight: 800;
    padding-bottom: 20px;
}
.InstructionContainer ol li .title {
    font-size: 16px;
    color: hsl(25, 5%,18%);
    font-family: 'Young Serif', sans-serif;
    font-weight: 800;
}

.InstructionContainer ol li::marker{
    font-size: 16px;
    font-weight: 800;
    color: hsl(14, 45%, 36%);
}

.NutritionContainer{
   display: block;
    padding: 30px;
}

.NutritionContainer .NutritionItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.NutritionItemContainer .NutritionItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px ;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    
}

.NutritionItemContainer .NutritionItem .NutritionItemText{
    font-size: 20px;
    color: inherit;
    font-weight: 500;
}

.NutritionItemContainer .NutritionItem  .NutritionItemFigure{
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
